/* CSS */
#page2 {
	display: none;
}

/* CSS page 1 */
* {
	font-family: kristen ITC;
	color: white;
}

#frame1 {
	width: 1350px;
	height: 689px;
}

#framepage1 {
	width: 1350px;
	height: 689px;
	position: absolute;
	z-index: -1;
	background-color: #ffea96;
}

#background1 {
	width: 1200px;
	height: 600px;
	margin-left: 75px;
	margin-top: 44.5px;
	position: absolute;
	z-index: 0;
	background-color: #fff4ca;
}

#background1 h1 {
	position: relative;
	z-index: 1;
	color: #927b21;
}

#background1 label {
	color: #927b21;
	position: absolute;
	margin-left: 220px;
	font-size: 20px;
	margin-top: -5px;
}

#div_gold {
		width: 125px;
	}

#gold_border {
	width: 100px;
	height: 20px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
	background: linear-gradient(to bottom left, #fffdc0, #c49220);
	background: -webkit-linear-gradient(to bottom left, #fffdc0, #c49220); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to bottom left, #fffdc0, #c49220); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to bottom left, #fffdc0, #c49220); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom left, #d2a12a, #fce36f, #d2a12a); /* Standard syntax (must be last) */
	border: 8px solid #fce36f;
	border: 8px double white;
	margin-left: 150px;
	margin-top: -15px;
	margin-bottom: 7px;
	
}
	
#gold_border p {
	margin-top: -13px;
	display: inline-block;
	font-size: 40px;
	margin-left: -2.5px;
	margin-right: -2px;
	font-family: colonna mt;
	color: #c49220;
}

#g {
	-webkit-animation: label_g 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_g 7s ease infinite running;
}

#o {
	-webkit-animation: label_o 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_o 7s ease infinite running;
}

#l {
	-webkit-animation: label_l 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_l 7s ease infinite running;
}

#d {
	-webkit-animation: label_d 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_d 7s ease infinite running;
}
	
/* Chrome, Safari, Opera */
@-webkit-keyframes label_g {
	0% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
	12.5% {color: white; -ms-transform: rotate(14deg); /* IE 9 */ -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */ transform: rotate(14deg);}
	25% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
}
	
@-webkit-keyframes label_o {
	25% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
	37.5% {color: white; -ms-transform: rotate(14deg); /* IE 9 */ -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */ transform: rotate(14deg);}
	50% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
}
	
@-webkit-keyframes label_l {
	50% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
	67.5% {color: white; -ms-transform: rotate(14deg); /* IE 9 */ -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */ transform: rotate(14deg);}
	75% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
}
	
@-webkit-keyframes label_d {
	75% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
	87.5% {color: white; -ms-transform: rotate(14deg); /* IE 9 */ -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */ transform: rotate(14deg);}
	100% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
}

	/* Standard syntax */
@keyframes label_g {
	0% {color: #c49220;}
	12.5% {color: white;}
	25% {color: #c49220;}
}

@keyframes label_o {
	25% {color: #c49220;}
	37.5% {color: white;}
	50% {color: #c49220;}
}
	
@keyframes label_l {
	50% {color: #c49220;}
	67.5% {color: white;}
	75% {color: #c49220;}
}
	
@keyframes label_d {
	75% {color: #c49220;}
	87.5% {color: white;}
	100% {color: #c49220;}
}
	
#gold_bg {
	width: 100px;
	height: 20px;
	background: linear-gradient(to bottom left, #fffdc0, #c49220);
	background: -webkit-linear-gradient(to bottom left, #fffdc0, #c49220); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to bottom left, #fffdc0, #c49220); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to bottom left, #fffdc0, #c49220); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom left, #d2a12a, #fce36f, #d2a12a); /* Standard syntax (must be last) */
	text-align: center;
}

#bgpage1 {
	width: 1200px;
	height: 600px;
	position: absolute;
	z-index: 0;
}

#img1 {
	background-color: #9de084;
	width: 200px;
	height: 320px;
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
}

#img2 {
	background-color: #f38f9f;
	width: 200px;
	height: 320px;
	display: inline-block;
	border-radius: 10px;
	margin-right: 20px;
	position: relative;
	z-index: 1;
}

#img3 {
	background-color: #8479bd;
	width: 200px;
	height: 320px;
	display: inline-block;
	border-radius: 10px;
	position: relative;
	z-index: 1;
}

#img4 {
	background-color: #3d1e1f;
	width: 200px;
	height: 320px;
	display: inline-block;
	border-radius: 10px;
	margin-left:20px;
	position: relative;
	z-index: 1;
}
#img_worm {
	border: 1px solid white;
	width: 160px;
	height: 220px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#img_worm img {
	width: 160px;
	height: 220px;
}

#worm {
	background-color: #9de084;
	width: 100px;
	height: 40px;
	margin-top: 260px;
	border-radius: 25px;
	border: 1px solid white;
}

#worm:hover {
	background-color: #d8ffca;
	color: #38801d;
}

#worm:active {
	color: #38801d;
	background-color: white;
	text-shadow: 1px 1px #38801d;
}

#img_pig{
	border: 1px solid white;
	width: 160px;
	height: 220px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#img_pig img {
	width: 160px;
	height: 220px;
}

#pig {
	background-color: #f38f9f;
	width: 100px;
	height: 40px;
	margin-top: 260px;
	border-radius: 25px;
	border: 1px solid white;
}

#pig:hover {
	background-color: #ffcad2;
	color: #8b2031;
}

#pig:active {
	color: #8b2031;
	background-color: white;
	text-shadow: 1px 1px #8b2031;
}

#img_buffalo{
	border: 1px solid white;
	width: 160px;
	height: 220px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#img_buffalo img {
	width: 160px;
	height: 220px;
}

#buffalo {
	background-color: #8479bd;
	width: 100px;
	height: 40px;
	margin-top: 260px;
	border-radius: 25px;
	border: 1px solid white;
}

#buffalo:hover {
	background-color: #d7d0fe;
	color: #271b6c;
}

#buffalo:active {
	color: #271b6c;
	background-color: white;
	text-shadow: 1px 1px #271b6c;
}

#img_panda{
	border: 1px solid white;
	width: 160px;
	height: 220px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#img_panda img {
	width: 160px;
	height: 220px;
}

#panda {
	background-color: #3d1e1f;
	width: 100px;
	height: 40px;
	margin-top: 260px;
	border-radius: 25px;
	border: 1px solid white;
}

#panda:hover {
	background-color: #dbb1b1;
	color: #3d1e1f;
}

#panda:active {
	color: #3d1e1f;
	background-color: white;
	text-shadow: 1px 1px #3d1e1f;
}


#play_as {
	width: 100px;
	height: 30px;
	font-size: 30px;
	border-radius: 20px;
	color: white;
	position: relative;
	z-index: 1;
	margin-top: 5px;
	padding-bottom: 15px;
}

#inputname{
	background-color: #927b21;
	width: 340px;
	height: 60px;
	display: inline-block;
	margin-right: 80px;
	margin-top: px;
	padding-top: 7px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
}

#inputname label {
	font-size: 25px;
	margin-left: -1px;
	margin-top: 8px;
	color: white;
}

#name{
	background-color: #927b21;
	height: 40px;
	width: 200px;
	font-size: 20px;
	margin-top: 3px;
	margin-left: 90px;
	border-radius: 20px;
}

#ok {
	display: inline-block;
	width: 67px;
	height: 67px;
	position: absolute;
	margin-left: -65px;
	border-radius: 40px;
	font-size: 20px;
	background-color: #927b21;
}

#ok:hover {
	background-color: #ffea96;
	color: #927b21;
}

#ok:active {
	color: #927b21;
	background-color: white;
	text-shadow: 1px 1px #927b21;
}

/* CSS page 2 */

#frame2 {
	width: 1350px;
	height: 689px;
	background-color: #ffea96;
	z-index: -1;
}

#background2 {
	width: 1200px;
	height: 600px;
	background-color: white;
	margin-left: 75px;
	margin-top: 44.5px;
	position: absolute;
	z-index: 0;
}

#top div {
	display: inline-block;
	font-size: 30px;
	margin-top: -30px;
	position: relative;
	z-index: 1;
}

#charname {
	width: 270px;
	height: 42px;
	margin-left: 67px;
	margin-right: 187px;
	text-align: center;
	text-shadow: 2px 2px 2px #927b21;
}

#waktu {
	margin-right: 390px;
}

#time {
	font-size: 40px;
	font-family: lucida handwriting;
	text-shadow: 2px 2px 2px #927b21;
	text-align: center;
}

#date {
	margin-top: -50px;
	font-size: 25px;
	text-shadow: 2px 2px 2px #927b21;
	text-align: center;
}

#tipe {
	text-shadow: 2px 2px 2px #927b21;
}

#ip {
	width: 230px;
	height: 430px;
	background-color: #f5f6f8;
	border: 3px solid #eadbc8;
	display: inline-block;
	margin-left: 90px;
	border-radius: 30px;
	margin-top: 3px;
	position: relative;
	z-index: 1;
}

#cam {
	background-color: #4c4c4a;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	position: absolute;
	margin-top: 10px;
	margin-left: 111px;
}

#sensor {
	background-color: #555557;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	position: absolute;
	margin-top: 31px;
	margin-left: 80px;
}

#speaker {
	background-color: #454545;
	width: 40px;
	height: 6px;
	border-radius: 10px;
	position: absolute;
	margin-top: 31px;
	margin-left: 95px;
}

#screen {
	border: 2px solid #363231;
	width: 195px;
	height: 299px;
	margin-top: 52px;
	margin-left: 15px;
	padding-top: 15px;
}

#ip_wallpaper {
	width: 195px;
	height: 314px;
	position: absolute;
	z-index: -1;
	margin-top: -15px;
}

#ip_top {
	width: 195px;
	position: absolute;
	margin-top: -15px;
}

#ip_screen {
	height: 296px;
	width: 183px;
	padding-left: 10px;
	padding-right: 10px;
}

#ip_app_sleep {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_app_play {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_app_eat {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_app_study {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_app_start {
	width: 40px;
	height: 60px;
	display: inline-block;
	margin-top: 10px;
}

#ip_app_stop {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_app_reset {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_app_quiz {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_level img{
	width: 30px;
	height: 30px;
	margin-top: 80px;

}

#sleep_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#play_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#eat_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#study_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#start_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#stop_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#reset_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#quiz_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#ip_screen div p {
	font-size: 11px;
	font-family: Century Gothic;
	text-align: center;
	margin-top: -2px;
}

#prev {
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 7px;
	margin-left: 90px;
	border-radius: 100px;
	background-color: #f5f6f8;
	font-size: 20px;
	border: 2px solid #fbeedd;
	color: #927b21;
}

#prev:hover {
	background-color: #ffea96;
}

#next{
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 382px;
	margin-left: 641px;
	border-radius: 100px;
	background-color: #f5f6f8;
	font-size: 20px;
	border: 2px solid #fbeedd;
	color: #927b21;
}

#next:hover {
	background-color: #ffea96;
}

#character {
	width: 250px;
	height: 250px;
	position: absolute;
	display: inline-block;
	margin-left: 143px;
	margin-right: 1px;
	margin-top: 50px;
}

#character img {
	width: 250px;
	height: 250px;
}

#indicator {
	position: absolute;
	width: 350px;
	height: 370px;
	display: inline-block;
	margin-left: 485px;
	font-size: 25px;
}

#indicator div {
	text-align: center;
	padding-top: 6px;
}

#istamina {
	border: 2px solid white;
	text-shadow: 2px 2px 2px #927b21;
	width: 346px;
	height: 44px;
	margin-top: 20px;
	border-radius: 200px;
}

#cstamina {
	width: 46px;
	height: 44px;
	position: absolute;
	border-radius: 200px;
	margin-top: -6px;
	z-index: 0;
	transition: all 0.8s ease;
}

#tstamina {
	width: 346px;
	height: 44px;
	border-radius: 200px;
	position: absolute;
	margin-top: -6px;
	z-index: 1;
}

#ifun {
	border: 2px solid white;
	text-shadow: 2px 2px 2px #927b21;
	width: 346px;
	height: 44px;
	margin-top: 40px;
	border-radius: 200px;
}

#cfun {
	width: 46px;
	height: 44px;
	position: absolute;
	border-radius: 200px;
	margin-top: -6px;
	z-index: 0;
	transition: all 0.8s ease;
}

#tfun {
	width: 346px;
	height: 44px;
	border-radius: 200px;
	position: absolute;
	margin-top: -6px;
	z-index: 1;
}


#ihunger {
	border: 2px solid white;
	text-shadow: 2px 2px 2px #927b21;
	width: 346px;
	height: 44px;
	margin-top: 40px;
	border-radius: 200px;
}

#chunger {
	width: 46px;
	height: 44px;
	position: absolute;
	border-radius: 200px;
	margin-top: -6px;
	z-index: 0;
	transition: all 0.8s ease;
}

#thunger {
	width: 346px;
	height: 44px;
	border-radius: 200px;
	position: absolute;
	margin-top: -6px;
	z-index: 1;
}

#iintelligent {
	border: 2px solid white;
	text-shadow: 2px 2px 2px #927b21;
	width: 346px;
	height: 44px;
	margin-top: 40px;
	border-radius: 200px;
}

#cintelligent {
	width: 46px;
	height: 44px;
	position: absolute;
	border-radius: 200px;
	margin-top: -6px;
	z-index: 0;
	transition: all 0.8s ease;
}

#tintelligent {
	width: 346px;
	height: 44px;
	border-radius: 200px;
	position: absolute;
	margin-top: -6px;
	z-index: 1;
}

#icounter {
	border: 2px solid white;
	width: 30px;
	height: 24px;
	margin-top: 40px;
	border-radius: 200px;
	margin-left: auto;
	margin-right: auto;
}

#ccounter {
	width: 30px;
	height: 20px;
	position: absolute;
	border-radius: 200px;
	margin-top: -12px;
	z-index: 0;
	transition: all 0.8s ease;
}

#ccounter img {
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

#bgpage2 img {
	width: 1200px;
	height: 600px;
	position: absolute;
	z-index: 0;
}

/* CSS page 3 */

#page3 {
	display: none;
}

#frame3 {
	width: 1350px;
	height: 689px;
	background-color: #ffea96;
	z-index: -1;
}

#background3 {
	background-color: white;
	width: 1200px;
	height: 600px;
	position: absolute;
	margin-left: 75px;
	margin-top: 44.5px;
	border: 1px solid blue;
}

#soal1{
	color: black;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 300px;
	font-size: 50px;
}

#a1 {
	color: black;
}

#jawab{
	color: black;
}
