/* CSS */
								/* Cover */
#background_cover {
	width: 1350px;
	height: 689px;
	background-image: url(gambar/background/cover.jpg);
	background-size: 130%;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 2;
	display:;
}

#cover {
	width: 1350px;
	height: 689px;
	position: absolute;
	z-index: 3;
	color: #FFFFE3;
	display:;
}

#cover h1 {
	text-shadow: 3px 3px 1px #f9d9de;
	font-size: 70px;
	margin-left: 500px;
	margin-bottom: 80px;
}

#cover ul li {
	margin-top: 50px;
	margin-left: 50px;
	font-size: 55px;
	list-style: none;
	font-weight: bold;
	text-shadow: 3px 3px 1px #fdd9cd;
}

#cover ul li:first-child {
	text-shadow: 3px 3px 1px #e5f4f1;
}

#cover ul li:last-child {
	text-shadow: 3px 3px 1px #edf5ce;
}

#button_start_play {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	position: absolute;
	margin-left: 900px;
	margin-top: -280px;
	background-image: url(gambar/background/cover_button.jpg);
	background-position: center;
	opacity: 0.7;
	border: none;
	color: white;
	font-size: 50px;
}

#button_start_play:hover {
	box-shadow: 0px 0px 100px 100px white;
	font-size: 60px;
	margin-top: -290px;
}

#button_start_play:active {
	box-shadow: 0px 0px 200px 300px white;
	font-size: 50px;
	margin-top: -280px;
}

									/* Logo */
#div_gold {
	width: 225px;
	height: 50px;
	margin-top: 90px;
	margin-left: -90px;
	position: absolute;
	-ms-transform: rotate(-25deg); /* IE 9 */
	-webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
	transform: rotate(-25deg);
	z-index: 1;
}

#gold_border {
	width: 100px;
	height: 20px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
	background: linear-gradient(to bottom left, #fffdc0, #c49220);
	background: -webkit-linear-gradient(to bottom left, #fffdc0, #c49220); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to bottom left, #fffdc0, #c49220); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to bottom left, #fffdc0, #c49220); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom left, #d2a12a, #fce36f, #d2a12a); /* Standard syntax (must be last) */
	border: 8px solid #fce36f;
	border: 8px double white;
	margin-left: 150px;
	margin-top: -15px;
	margin-bottom: 7px;
}
	
#gold_border p {
	margin-top: -13px;
	display: inline-block;
	font-size: 40px;
	margin-left: -2.5px;
	margin-right: -2px;
	font-family: colonna mt;
	color: #c49220;
}

#g {
	-webkit-animation: label_g 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_g 7s ease infinite running;
}

#o {
	-webkit-animation: label_o 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_o 7s ease infinite running;
}

#l {
	-webkit-animation: label_l 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_l 7s ease infinite running;
}

#d {
	-webkit-animation: label_d 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_d 7s ease infinite running;
}
	
/* Chrome, Safari, Opera */
@-webkit-keyframes label_g {
	0% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
	12.5% {color: white; -ms-transform: rotate(14deg); /* IE 9 */ -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */ transform: rotate(14deg);}
	25% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
}
	
@-webkit-keyframes label_o {
	25% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
	37.5% {color: white; -ms-transform: rotate(14deg); /* IE 9 */ -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */ transform: rotate(14deg);}
	50% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
}
	
@-webkit-keyframes label_l {
	50% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
	67.5% {color: white; -ms-transform: rotate(14deg); /* IE 9 */ -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */ transform: rotate(14deg);}
	75% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
}
	
@-webkit-keyframes label_d {
	75% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
	87.5% {color: white; -ms-transform: rotate(14deg); /* IE 9 */ -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */ transform: rotate(14deg);}
	100% {color: #c49220; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg);}
}

	/* Standard syntax */
@keyframes label_g {
	0% {color: #c49220;}
	12.5% {color: white;}
	25% {color: #c49220;}
}

@keyframes label_o {
	25% {color: #c49220;}
	37.5% {color: white;}
	50% {color: #c49220;}
}
	
@keyframes label_l {
	50% {color: #c49220;}
	67.5% {color: white;}
	75% {color: #c49220;}
}
	
@keyframes label_d {
	75% {color: #c49220;}
	87.5% {color: white;}
	100% {color: #c49220;}
}
	
#gold_bg {
	width: 100px;
	height: 20px;
	background: linear-gradient(to bottom left, #fffdc0, #c49220);
	background: -webkit-linear-gradient(to bottom left, #fffdc0, #c49220); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to bottom left, #fffdc0, #c49220); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to bottom left, #fffdc0, #c49220); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom left, #d2a12a, #fce36f, #d2a12a); /* Standard syntax (must be last) */
	text-align: center;
}

#page1 {
	display: none;
}

#page2 {
	display:none ;
}

/* CSS page 1 */
* {
	font-family: kristen ITC;
	color: white;
}

#frame1 {
	width: 1350px;
	height: 669px;
}

#framepage1 {
	width: 1350px;
	height: 669px;
	position: absolute;
	z-index: -1;
	background-color: #ffea96;
}

#background1 {
	width: 1200px;
	height: 600px;
	margin-left: 75px;
	margin-top: 44.5px;
	position: absolute;
	z-index: 0;
	background-color: #E1FFFE;
}

#background1 h1 {
	position: relative;
	z-index: 1;
	color: white;
	box-shadow: 0px 0px 15px 5px white;
	width: 500px;
	margin-top: 30px;
}

#background1 label {
	color: #927b21;
	position: absolute;
	margin-left: 220px;
	font-size: 20px;
	margin-top: -5px;
}

#bgpage1 {
	width: 1200px;
	height: 600px;
	position: absolute;
	z-index: 0;
	opacity: 0.4;
}

#div_character {
	width: 210px;
	height: 320px;
	margin-top: 55px;
}

#img1 {
	background-color: #CAFFD8;
	width: 200px;
	height: 320px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 15px 5px white;
	display: inline-block;
}

#img2 {
	background-color: #FFDFF8;
	width: 200px;
	height: 320px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 15px 5px white;
	display: none;
}

#img3 {
	background-color: #B5FFFC;
	width: 200px;
	height: 320px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 15px 5px white;
	display: none;
}

#img4 {
	background-color: #C9DECB;
	width: 200px;
	height: 320px;
	border-radius: 10px;
	display: inline-block;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 15px 5px white;
	display: none;
}

#img5 {
	background-color: #FFFFC8;
	width: 200px;
	height: 320px;
	border-radius: 10px;
	display: inline-block;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 15px 5px white;
	display: none;
}

#img6 {
	background-color: #ECD5CA;
	width: 200px;
	height: 320px;
	border-radius: 10px;
	display: inline-block;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 15px 5px white;
	display: none;
}

#img_worm {
	border: 1px solid white;
	width: 160px;
	height: 220px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#img_worm img {
	width: 160px;
	height: 220px;
}

#worm {
	background-color: #CAFFD8;
	width: 100px;
	height: 40px;
	margin-top: 260px;
	border-radius: 25px;
	border: 1px solid white;
}

#worm:hover {
	background-color: #CAFFD8;
	color: #72FE95;
}

#worm:active {
	color: #72FE95;
	background-color: white;
	text-shadow: 1px 1px #72FE95;
}

#img_pig{
	border: 1px solid white;
	width: 160px;
	height: 220px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#img_pig img {
	width: 160px;
	height: 220px;
}

#pig {
	background-color: #FFDFF8;
	width: 100px;
	height: 40px;
	margin-top: 260px;
	border-radius: 25px;
	border: 1px solid white;
}

#pig:hover {
	background-color: #FFDFEF;
	color: #FFBBDD;
}

#pig:active {
	color: #FFBBDD;
	background-color: white;
	text-shadow: 1px 1px #FFBBDD;
}

#img_buffalo{
	border: 1px solid white;
	width: 160px;
	height: 220px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#img_buffalo img {
	width: 160px;
	height: 220px;
}

#buffalo {
	background-color: #B5FFFC;
	width: 100px;
	height: 40px;
	margin-top: 260px;
	border-radius: 25px;
	border: 1px solid white;
}

#buffalo:hover {
	background-color: #CEFFFD;
	color: #99C7FF;
}

#buffalo:active {
	color: #99C7FF;
	background-color: white;
	text-shadow: 1px 1px #99C7FF;
}

#img_panda{
	border: 1px solid white;
	width: 160px;
	height: 220px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#img_panda img {
	width: 160px;
	height: 220px;
}

#panda {
	background-color: #C9DECB;
	width: 100px;
	height: 40px;
	margin-top: 260px;
	border-radius: 25px;
	border: 1px solid white;
}

#panda:hover {
	background-color: #E9F1EA;
	color: #93BF96;
}

#panda:active {
	color: #93BF96;
	background-color: white;
	text-shadow: 1px 1px #93BF96;
}

#img_duck{
	border: 1px solid white;
	width: 160px;
	height: 220px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#img_duck img {
	width: 160px;
	height: 220px;
}

#duck {
	background-color: #FFFFC8;
	width: 100px;
	height: 40px;
	margin-top: 260px;
	border-radius: 25px;
	border: 1px solid white;
}

#duck:hover {
<<<<<<< HEAD
	background-color: #fff1b9;
	color: #ffce04;
	
=======
	background-color: #FFFFD7;
	color: #FFF284;
>>>>>>> origin/master
}

#duck:active {
	color: #FFF284;
	background-color: white;
	text-shadow: 1px 1px #FFF284;
}

#img_frog{
	border: 1px solid white;
	width: 160px;
	height: 220px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#img_frog img {
	width: 160px;
	height: 220px;
}

#frog {
	background-color: #ECD5CA;
	width: 100px;
	height: 40px;
	margin-top: 260px;
	border-radius: 25px;
	border: 1px solid white;
}

#frog:hover {
	background-color: #F5E8E2;
	color: #DAAC96;
}

#frog:active {
	color: #DAAC96;
	background-color: white;
	text-shadow: 1px 1px #DAAC96;
}

#button {
	width: 700px;
	height: 100px;
	position: absolute;
	margin-top: -220px; 
	margin-left: 250px;
}

#prev {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: absolute;
	margin-left: -300px;
	z-index: 2;
	font-size: 50px;
	background-image: url("gambar/background/bgpage1.jpg");
	border: 2px double white;
}

#prev:hover {
	box-shadow: 0px 0px 15px 5px white;
	margin-top: -5px;
}

#next {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: absolute;
	margin-left: 200px;
	z-index: 2;
	font-size: 50px;
	background-image: url("gambar/background/bgpage1.jpg");
	border: 2px double white;
}

#next:hover {
	box-shadow: 0px 0px 15px 5px white;
	margin-top: -5px;
}

#play_as {
	width: 100px;
	height: 30px;
	font-size: 30px;
	border-radius: 20px;
	color: white;
	position: relative;
	z-index: 1;
	margin-top: 5px;
	padding-bottom: 15px;
	text-shadow: 0px 0px 15px white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#inputname{
	width: 340px;
	height: 60px;
	display: inline-block;
	margin-right: 80px;
	margin-top: px;
	padding-top: 7px;
	border-radius: 10px;
	position: relative;
	z-index: 3;
	box-shadow: 0px 0px 15px 5px white;
}

#inputname label {
	font-size: 25px;
	margin-left: -1px;
	margin-top: 8px;
	color: #927b21;
	
}

#name{
	background-image: url("gambar/background/bgpage1.jpg");
	height: 40px;
	width: 200px;
	font-size: 20px;
	margin-top: 6px;
	margin-left: 90px;
	border-radius: 20px;
	border: none;
}

#name:hover {
	box-shadow: 0px 0px 15px 5px white;
}

#ok {
	display: inline-block;
	width: 67px;
	height: 67px;
	position: absolute;
	margin-left: -45px;
	border-radius: 40px;
	font-size: 20px;
	background-image: url("gambar/background/bgpage1.jpg");
	border: 2px double white;
}

#ok:hover {
	box-shadow: 0px 0px 15px 5px white;
	margin-top: -5px;
}


/* CSS page 2 */

#frame2 {
	width: 1350px;
	height: 689px;
	background-color: #ffea96;
	z-index: -1;
}

#background2 {
	width: 1200px;
	height: 600px;
	background-color: white;
	margin-left: 75px;
	margin-top: 44.5px;
	position: absolute;
	z-index: 0;
}

#top div {
	display: inline-block;
	font-size: 30px;
	margin-top: -30px;
	position: relative;
	z-index: 1;
}

#charname {
	width: 270px;
	height: 42px;
	margin-left: 67px;
	margin-right: 187px;
	text-align: center;
	text-shadow: 2px 2px 2px #927b21;
}

#waktu {
	margin-right: 390px;
}

#time {
	font-size: 40px;
	font-family: lucida handwriting;
	text-shadow: 2px 2px 2px #927b21;
	text-align: center;
}

#date {
	margin-top: -50px;
	font-size: 25px;
	text-shadow: 2px 2px 2px #927b21;
	text-align: center;
}

#tipe {
	text-shadow: 2px 2px 2px #927b21;
}

#ip {
	width: 230px;
	height: 430px;
	background-color: #f5f6f8;
	border: 3px solid #eadbc8;
	display: inline-block;
	margin-left: 90px;
	border-radius: 30px;
	margin-top: 3px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 15px 5px #927b21;
}

#cam {
	background-color: #4c4c4a;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	position: absolute;
	margin-top: 10px;
	margin-left: 111px;
}

#sensor {
	background-color: #555557;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	position: absolute;
	margin-top: 31px;
	margin-left: 80px;
}

#speaker {
	background-color: #454545;
	width: 40px;
	height: 6px;
	border-radius: 10px;
	position: absolute;
	margin-top: 31px;
	margin-left: 95px;
}

#screen {
	border: 2px solid #363231;
	width: 195px;
	height: 299px;
	margin-top: 52px;
	margin-left: 15px;
	padding-top: 15px;
}

#ip_wallpaper {
	width: 195px;
	height: 314px;
	position: absolute;
	z-index: -1;
	margin-top: -15px;
}

#ip_top {
	width: 195px;
	position: absolute;
	margin-top: -15px;
}

#ip_screen {
	height: 296px;
	width: 183px;
	padding-left: 10px;
	padding-right: 10px;
}

#ip_app_sleep {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_app_play {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_app_eat {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_app_study {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_app_start {
	width: 40px;
	height: 60px;
	display: inline-block;
	margin-top: 10px;
}

#ip_app_stop {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_app_reset {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}

#ip_app_quiz {
	width: 40px;
	height: 60px;
	display: none;
	margin-top: 10px;
}
/*level*/
#ip_level_1{
	width: 30px;
	height: 30px;
	margin-top: 80px;

}
#ip_level_2{
	width: 30px;
	height: 30px;
	margin-top: 80px;
	
}
#ip_level_3{
	width: 30px;
	height: 30px;
	margin-top: 80px;
	
}
#ip_level_4{
	width: 30px;
	height: 30px;
	margin-top: 80px;
	
}
#ip_level_5{
	width: 30px;
	height: 30px;
	margin-top: 80px;
	
}
#ip_level_6{
	width: 30px;
	height: 30px;
	margin-top: 5px;
	
}
#ip_level_7{
	width: 30px;
	height: 30px;
	margin-top: 5px;
	
}
#ip_level_8{
	width: 30px;
	height: 30px;
	margin-top: 5px;
	
}

#sleep_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#play_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#eat_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#study_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#start_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#stop_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#reset_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#quiz_button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

#ip_screen div p {
	font-size: 11px;
	font-family: Century Gothic;
	text-align: center;
	margin-top: -2px;
}

#menu {
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 7px;
	margin-left: 90px;
	border-radius: 100px;
	background-color: #f5f6f8;
	font-size: 20px;
	border: 2px solid #fbeedd;
	color: #927b21;
}

#menu:hover {
	background-color: #ffea96;
}

#character {
	width: 250px;
	height: 250px;
	position: absolute;
	display: inline-block;
	margin-left: 143px;
	margin-right: 1px;
	margin-top: 50px;
}

#character img {
	width: 250px;
	height: 250px;
}

#indicator {
	position: absolute;
	width: 350px;
	height: 370px;
	display: inline-block;
	margin-left: 485px;
	font-size: 25px;
}

#indicator div {
	text-align: center;
	padding-top: 6px;
}

#istamina {
	border: 2px solid white;
	text-shadow: 2px 2px 2px #927b21;
	width: 346px;
	height: 44px;
	margin-top: 20px;
	border-radius: 200px;
	box-shadow: 0px 0px 15px 5px #927b21;
}

#cstamina {
	width: 46px;
	height: 44px;
	position: absolute;
	border-radius: 200px;
	margin-top: -6px;
	z-index: 0;
	transition: all 0.8s ease;
	box-shadow: 0px 0px 15px 5px white;
}

#tstamina {
	width: 346px;
	height: 44px;
	border-radius: 200px;
	position: absolute;
	margin-top: -6px;
	z-index: 1;
}

#ifun {
	border: 2px solid white;
	text-shadow: 2px 2px 2px #927b21;
	width: 346px;
	height: 44px;
	margin-top: 40px;
	border-radius: 200px;
	box-shadow: 0px 0px 15px 5px #927b21;
}

#cfun {
	width: 46px;
	height: 44px;
	position: absolute;
	border-radius: 200px;
	margin-top: -6px;
	z-index: 0;
	transition: all 0.8s ease;
	box-shadow: 0px 0px 15px 5px white;
}

#tfun {
	width: 346px;
	height: 44px;
	border-radius: 200px;
	position: absolute;
	margin-top: -6px;
	z-index: 1;
}


#ihunger {
	border: 2px solid white;
	text-shadow: 2px 2px 2px #927b21;
	width: 346px;
	height: 44px;
	margin-top: 40px;
	border-radius: 200px;
	box-shadow: 0px 0px 15px 5px #927b21;
}

#chunger {
	width: 46px;
	height: 44px;
	position: absolute;
	border-radius: 200px;
	margin-top: -6px;
	z-index: 0;
	transition: all 0.8s ease;
	box-shadow: 0px 0px 15px 5px white;
}

#thunger {
	width: 346px;
	height: 44px;
	border-radius: 200px;
	position: absolute;
	margin-top: -6px;
	z-index: 1;
}

#iintelligent {
	border: 2px solid white;
	text-shadow: 2px 2px 2px #927b21;
	width: 346px;
	height: 44px;
	margin-top: 40px;
	border-radius: 200px;
	box-shadow: 0px 0px 15px 5px #927b21;
}

#cintelligent {
	width: 46px;
	height: 44px;
	position: absolute;
	border-radius: 200px;
	margin-top: -6px;
	z-index: 0;
	transition: all 0.8s ease;
	box-shadow: 0px 0px 15px 5px white;
}

#tintelligent {
	width: 346px;
	height: 44px;
	border-radius: 200px;
	position: absolute;
	margin-top: -6px;
	z-index: 1;
}

#icounter {
	border: 2px solid white;
	width: 30px;
	height: 24px;
	margin-top: 52px;
	border-radius: 200px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 15px 5px #927b21;
}

#ccounter {
	width: 30px;
	height: 20px;
	position: absolute;
	border-radius: 200px;
	margin-top: -12px;
	z-index: 0;
	transition: all 0.8s ease;
}

#ccounter img {
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

#bgpage2 img {
	width: 1200px;
	height: 600px;
	position: absolute;
	z-index: 0;
}

/* CSS page 3 */

#page3 {
	display: none;
}

#frame3 {
	width: 1350px;
	height: 689px;
	background-image: url("gambar/background/quiz_bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: -1;
}

#background3 {
	width: 1200px;
	height: 600px;
	position: absolute;
	z-index: 0;
	margin-left: 75px;
	margin-top: 44.5px;
	background-color: gray;
	opacity: 0.8;
	box-shadow: 0px 0px 25px 25px white;
}

#soal1{
	color: black;
	position: absolute;
	z-index: 1;
	width: 1000px;
	height: 360px;
	font-size: 150px;
	padding-left: 100px;

}

#soal1 h1 {
	font-size: 70px;
	text-align: center;
}

#l1 {
	color: black;
}

#a1 {
	color: black;
	position: absolute;
	margin-left: 550px;
	margin-top: -150px;
	border-radius: 50px;
	width: 250px;
	height: 100px;
	background-color: white;
	border-style: none;
	opacity: 0.8;
	font-size: 70px;
}

#a1:hover {
	box-shadow: 0px 0px 15px 5px white;
}

#jawab1{
	color: black;
	width: 150px;
	height: 150px;
	position: absolute;
	margin-left: 880px;
	margin-top: -175px;
	border-radius: 100px;
	font-size: 50px;
}

#jawab1:hover {
	box-shadow: 0px 0px 15px 5px white;
	margin-top: -185px;
	font-size: 60px;
}

#soal2 {
	color: black;
	position: absolute;
	z-index: 1;
	width: 1000px;
	height: 360px;
	font-size: 150px;
	padding-left: 100px;
	display: none;
}

#soal2 h1 {
	font-size: 70px;
	text-align: center;
}

#l2 {
	color: black;
}

#a2 {
	color: black;
	position: absolute;
	margin-left: 550px;
	margin-top: -150px;
	border-radius: 50px;
	width: 250px;
	height: 100px;
	background-color: white;
	border-style: none;
	opacity: 0.8;
	font-size: 70px;
}

#a2:hover {
	box-shadow: 0px 0px 15px 5px white;
}

#jawab2 {
	color: black;
	width: 150px;
	height: 150px;
	position: absolute;
	margin-left: 880px;
	margin-top: -175px;
	border-radius: 100px;
	font-size: 50px;
}

#jawab2:hover {
	box-shadow: 0px 0px 15px 5px white;
	margin-top: -185px;
	font-size: 60px;
}

#soal3 {
	color: black;
	position: absolute;
	z-index: 1;
	width: 1000px;
	height: 360px;
	font-size: 150px;
	padding-left: 100px;
	display: none;
}

#soal3 h1 {
	font-size: 70px;
	text-align: center;
}

#l3 {
	color: black;
}

#a3 {
	color: black;
	position: absolute;
	margin-left: 550px;
	margin-top: -150px;
	border-radius: 50px;
	width: 250px;
	height: 100px;
	background-color: white;
	border-style: none;
	opacity: 0.8;
	font-size: 70px;
}

#a3:hover {
	box-shadow: 0px 0px 15px 5px white;
}

#jawab3 {
	color: black;
	width: 150px;
	height: 150px;
	position: absolute;
	margin-left: 880px;
	margin-top: -175px;
	border-radius: 100px;
	font-size: 50px;
}

#jawab3:hover {
	box-shadow: 0px 0px 15px 5px white;
	margin-top: -185px;
	font-size: 60px;
}

#soal4 {
	color: black;
	position: absolute;
	z-index: 1;
	width: 1000px;
	height: 360px;
	font-size: 150px;
	padding-left: 100px;
	display: none;
}

#soal4 h1 {
	font-size: 70px;
	text-align: center;
}

#l4 {
	color: black;
}

#a4 {
	color: black;
	position: absolute;
	margin-left: 550px;
	margin-top: -150px;
	border-radius: 50px;
	width: 250px;
	height: 100px;
	background-color: white;
	border-style: none;
	opacity: 0.8;
	font-size: 70px;
}

#a4:hover {
	box-shadow: 0px 0px 15px 5px white;
}

#jawab4 {
	color: black;
	width: 150px;
	height: 150px;
	position: absolute;
	margin-left: 880px;
	margin-top: -175px;
	border-radius: 100px;
	font-size: 50px;
}

#jawab4:hover {
	box-shadow: 0px 0px 15px 5px white;
	margin-top: -185px;
	font-size: 60px;
}

#soal5 {
	color: black;
	position: absolute;
	z-index: 1;
	width: 1000px;
	height: 360px;
	font-size: 150px;
	padding-left: 100px;
	display: none;
}

#soal5 h1 {
	font-size: 70px;
	text-align: center;
}

#l5 {
	color: black;
}

#a5 {
	color: black;
	position: absolute;
	margin-left: 550px;
	margin-top: -150px;
	border-radius: 50px;
	width: 250px;
	height: 100px;
	background-color: white;
	border-style: none;
	opacity: 0.8;
	font-size: 70px;
}

#a5:hover {
	box-shadow: 0px 0px 15px 5px white;
}

#jawab5 {
	color: black;
	width: 150px;
	height: 150px;
	position: absolute;
	margin-left: 880px;
	margin-top: -175px;
	border-radius: 100px;
	font-size: 50px;
}

#jawab5:hover {
	box-shadow: 0px 0px 15px 5px white;
	margin-top: -185px;
	font-size: 60px;
}

#soal6 {
	color: black;
	position: absolute;
	z-index: 1;
	width: 1000px;
	height: 360px;
	font-size: 150px;
	padding-left: 100px;
	display: none;
}

#soal6 h1 {
	font-size: 70px;
	text-align: center;
}

#l6 {
	color: black;
}

#a6 {
	color: black;
	position: absolute;
	margin-left: 550px;
	margin-top: -150px;
	border-radius: 50px;
	width: 250px;
	height: 100px;
	background-color: white;
	border-style: none;
	opacity: 0.8;
	font-size: 70px;
}

#a6:hover {
	box-shadow: 0px 0px 15px 5px white;
}

#jawab6 {
	color: black;
	width: 150px;
	height: 150px;
	position: absolute;
	margin-left: 880px;
	margin-top: -175px;
	border-radius: 100px;
	font-size: 50px;
}

#jawab6:hover {
	box-shadow: 0px 0px 15px 5px white;
	margin-top: -185px;
	font-size: 60px;
}

#soal7 {
	color: black;
	position: absolute;
	z-index: 1;
	width: 1000px;
	height: 360px;
	font-size: 150px;
	padding-left: 100px;
	display: none;
}

#soal7 h1 {
	font-size: 70px;
	text-align: center;
}

#l7 {
	color: black;
}

#a7 {
	color: black;
	position: absolute;
	margin-left: 550px;
	margin-top: -150px;
	border-radius: 50px;
	width: 250px;
	height: 100px;
	background-color: white;
	border-style: none;
	opacity: 0.8;
	font-size: 70px;
}

#a7:hover {
	box-shadow: 0px 0px 15px 5px white;
}

#jawab7 {
	color: black;
	width: 150px;
	height: 150px;
	position: absolute;
	margin-left: 880px;
	margin-top: -175px;
	border-radius: 100px;
	font-size: 50px;
}

#jawab7:hover {
	box-shadow: 0px 0px 15px 5px white;
	margin-top: -185px;
	font-size: 60px;
}

#soal8 {
	color: black;
	position: absolute;
	z-index: 1;
	width: 1000px;
	height: 360px;
	font-size: 150px;
	padding-left: 100px;
	display: none;
}

#soal8 h1 {
	font-size: 70px;
	text-align: center;
}

#l8 {
	color: black;
}

#a8 {
	color: black;
	position: absolute;
	margin-left: 550px;
	margin-top: -150px;
	border-radius: 50px;
	width: 250px;
	height: 100px;
	background-color: white;
	border-style: none;
	opacity: 0.8;
	font-size: 70px;
}

#a8:hover {
	box-shadow: 0px 0px 15px 5px white;
}

#jawab8 {
	color: black;
	width: 150px;
	height: 150px;
	position: absolute;
	margin-left: 880px;
	margin-top: -175px;
	border-radius: 100px;
	font-size: 50px;
}

#jawab8:hover {
	box-shadow: 0px 0px 15px 5px white;
	margin-top: -185px;
	font-size: 60px;
}
/*   page 4 */
#page4{
width: 1350px;
height: 629px;
display:none;
position:absolute;
background-color:grey;
background-image:url(gambar/ending1.png);

}

									
#div_win {
	width: 800px;
	height: 50px;
	margin-top: 90px;
	margin-left: -90px;
	position: absolute;
	z-index: 1;
	margin-left:430px;
}

#win_border p{

font-family: colonna mt;
display: inline-block;
	font-size: 100px;
	color: #c49220;
}
	

#c {
	-webkit-animation: label_g 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_g 7s ease infinite running;
	
}

#o1 {
	-webkit-animation: label_o 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_o 7s ease infinite running;
	
}

#n {
	-webkit-animation: label_l 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_l 7s ease infinite running;
}

#g1 {
	-webkit-animation: label_d 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_d 7s ease infinite running;
}

#r {
	-webkit-animation: label_d 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_d 7s ease infinite running;
}
#a {
	-webkit-animation: label_d 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_d 7s ease infinite running;
}

#t {
	-webkit-animation: label_d 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_d 7s ease infinite running;
}

#s {
	-webkit-animation: label_d 7s ease infinite running; /* Chrome, Safari, Opera */
	animation: label_d 7s ease infinite running;
}
	

	/* Standard syntax */
@keyframes label_c {
	0% {color: #c49220;}
	0.5% {color: white;}
	25% {color: #c49220;}
}

@keyframes label_o1 {
	5% {color: #c49220;}
	15.5% {color: white;}
	26% {color: #c49220;}
}
	
@keyframes label_n {
	10% {color: #c49220;}
	20.5% {color: white;}
	34% {color: #c49220;}
}
	
@keyframes label_g1 {
	25% {color: #c49220;}
	25.5% {color: white;}
	38% {color: #c49220;}
}
@keyframes label_r {
	34% {color: #c49220;}
	37.5% {color: white;}
	50% {color: #c49220;}
}
@keyframes label_a {
	38% {color: #c49220;}
	40.5% {color: white;}
	68% {color: #c49220;}
}
@keyframes label_t {
	48% {color: #c49220;}
	60.5% {color: white;}
	78% {color: #c49220;}
}
@keyframes label_s {
	55% {color: #c49220;}
	79.5% {color: white;}
	100% {color: #c49220;}
}	

#win1{
margin-top:250px;
margin-left:540px;
width:300px;
height:300px;
}

/*   page 5 */
#page5{
width: 1350px;
height: 689px;
display:none ;
position:absolute;
background-color:grey;

}